body {
    margin: auto;
    align-items: center;
    padding: auto;
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-around;
    background-color: azure;
    margin: 0 5px;
    /* width: 1400px; */
    /* padding: 8px; */
    align-content: center;
    align-items: center;
}

.main-header a {
    text-decoration: none;
}

.main-header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
}

.main-header > nav > ul {
    margin: auto;
    vertical-align: middle;
}

.main-header nav a {
    text-decoration: none;
}

.main-header nav ul li a {
    text-decoration: none;
}

.brand {
  color: #1C7C54;
  font-weight: bold;
  font-size: 27px;
  font-family: 'Rubik Maze';
}

.main-header nav {
    display: flex;
    align-items: center;
}

.main-header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-header nav ul li {
  display: inline-block;
  /* justify-content: space-between; */
  margin: 0 15px;
}

.main-header nav {
    justify-content: space-between;
    display: inline-flex;
}

.bayan-card {
    width: 30%;
    height: 250px;
    margin: 10px;
}