body {
    margin: auto;
    align-items: center;
    padding: auto;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0px;
    padding: 0;
    text-decoration: none;
}

header a {
    text-decoration: none;
}

header button {
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-around;
    background-color: azure;
    margin: 0 5px;
    /* width: 1400px; */
    /* padding: 8px; */
    align-content: center;
    align-items: center;
}

.brand {
  color: #1C7C54;
  font-weight: bold;
  font-size: 27px;
  font-family: 'Rubik Maze';
}


.main-header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header nav ul li {
  margin: 0 15px;
}

.bayan-card {
    width: 30%;
    height: 250px;
    margin: 10px;
}